/* Grid Container */
#coordiv {
  width: 100%;
  height: 400px;
  position: relative;
  border: 1px solid #c3c3c3;
}
p {
  position: relative;
  top: 0px;
  padding: 0px;
  margin: 0;
}
.titulo-trabalho {
  font-size: 2em;
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.grid > span {
  display: inline;
  /* border:1px solid green; */
  font-size: 30px;
  margin: 0;
  padding: 0;
}

.dot {
  position: absolute;
  width: 8px;
  height: 8px;
  top: -0.2rem;
  left: -0.2rem;
  border-radius: 100%;
  -webkit-box-shadow: 0 0 0 2px hsla(0, 0%, 100%, 0.8);
  box-shadow: 0 0 0 2px hsla(0, 0%, 100%, 0.8);
  z-index: 1;
  background-color: #98bf49;
}
#get-coordenadas {
  font-size: 12px;
  background: rgba(0, 0, 0, 0.5);
  color:white;
  padding:5px;
}

.painel {
  width: 100%;
}

#editor,
#preview {
  width: 100%;
}

.codigo {
  padding: 0;
  float: left;
  width: 100%;
}

fieldset {
  border: 0;
  margin-bottom: 10px;
  text-align: center;
  padding: 10px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
}

legend {
  font-weight: 900;
  font-size: .754em;
  /* text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5),
    0px 5px 10px rgba(255, 255, 255, 1); */
}

.ponto-plano{
  position:absolute;
  font-size: 8px;
}